# .env file

# PropertyRadar Configuration
PROPERTY_RADAR_API_KEY="your-property-radar-api-key"
PROPERTY_RADAR_LIST_ID="your-radar-list-id"

# Supabase Configuration
SUPABASE_URL="supabase-url"
SUPABASE_KEY="your-supabase-key"

# --- PEOPLE DATA LABS ---
PDL_API_KEY="your-pdl-api-key"

MILLIONVERIFIER_API_KEY="your-million-verifier-api-key"
NEVERBOUNCE_API_KEY="your-never-bounce-api-key"

